// ==========================================================================
// Extends 
// ==========================================================================

// Placeholders

%links {
    color: mockup-palette(ui-colors, default); 
	text-decoration: none;
	font-weight: $font-weight--medium;
}

%imgs {
    margin-bottom: em(24px);
    max-width: 100%;
    height: auto;
}

// Headlines 

%hdln-prim {
    color: mockup-palette(ui-colors, primary);
    font-weight: $font-weight--bold;
    font-size: em(35px);
    line-height: (40px/35px);
    margin-top: 0;
    padding-left: em(10px);
}

%hdln-sec {
    color: mockup-palette(grey, light);
    letter-spacing: $letter-space;
    font-weight: $font-weight--light;
    // font-size: em(24px);
    text-align: left;
}

// Nav Items 

%nav-items {
    font-weight: $font-weight--light;
    text-align: center;
    font-size: em(18px);
    display: block;
    padding: em(8px, 18px);
}

// Center alignment

%center-align {
	text-align: center;
}

// Clearfix

%clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}
  
// Screen reader text

.srt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Buttons

%btn {
    padding: 15px 30px;
    border: 0;
    border-radius : $br--default;
    color: $white;
    text-transform: uppercase;
    font-size : em(14px);
    font-weight: $font-weight--medium;
    display: block;
    &:hover {
        opacity: .75;
    }
    &:active {
        opacity: initial;
    }
}