// ==========================================================================
// Buttons
// ==========================================================================

.btn {
	@include bg-colors(map-get($mockup-colors, ui-colors));
}

[id="buttons"] {
    margin-bottom: em(70px);
}

.theme {
  @include e(colors) {
      @extend %btn;
  }
}

// Buttons in desktops 
[class*="btn--default theme__colors"] {
  @include mq(desktop) {
    display: inline-block;
    width: 15%;
  }
}
[class*="btn--success theme__colors"] {
  @include mq(desktop) {
    display: inline-block;
    width: 15%;
  }
}
[class*="btn--error theme__colors"] {
  @include mq(desktop) {
    display: inline-block;
    width: 15%;
  }
}
[class*="btn--warning theme__colors"] {
  @include mq(desktop) {
    display: inline-block;
    width: 15%;
  }
}
[class*="btn--info theme__colors"] {
  @include mq(desktop) {
    display: inline-block;
    width: 15%;
  }
}

// Buttons in desktop view

.grid__col--12 {
  @include mq(desktop){
    @include flx(row) {
      justify-content: space-evenly;
    }
  }
}