// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
        // font-size : em(18px);
        display: block;
		margin: em(40px) 0;
		padding: 0 em(10px);
        border-style: none;
		border-bottom: 6px solid mockup-palette(ui-colors, primary);
		line-height: em(50px);
		color: mockup-palette(grey, dark);
		font-weight: $font-weight--medium;
		width: 100%;
		// &:focus {	
		// 	border-color: $color-primary;
		// }
	}

	.btn--default{
		@include mq(desktop) {
			display: block;
			width: 100%;
		}
	}
}