// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
        // font-size : em(18px);
        display: block;
        margin-bottom: em(20px);
        border-style: none;
		border-bottom: 6px solid mockup-palette(ui-colors, primary);
		// border-radius: $br--default;
		// background: palette(grey, xx-light);
		color: mockup-palette(grey, dark);
		font-weight: $font-weight--medium;
        width: 100%;
		// &:focus {	
		// 	border-color: $color-primary;
		// }
	}

	// @include e(btn) {
	// 	@extend %btn;
	// 	background: $color-primary;
	// }
}