// ==========================================================================
// Grid
// ==========================================================================

.grid {
    @include e(row){
        @extend %center-align;
        @include flx(column);
        margin: em(30px) 0;

        @include mq(desktop) {
            @include flx(row) {
                justify-content: space-around;
            }
        }
    }
}

// Grid buttons 

[class*="grid__col--12 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 12);
}

[class*="grid__col--8 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 8);
}

[class*="grid__col--7 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 7);
}

[class*="grid__col--6 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 6);
}

[class*="grid__col--5 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 5);
}

[class*="grid__col--4 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 4);
}

[class*="grid__col--3 theme__colors"] {
    @extend %btn-grid;
    background-color: mockup-palette(grid-colors, 3);
}


// Calculate grid columns

.grid__col{
    @include mq(desktop) {
      @include g-columns;
    }
  }

  // Column styles

[class^="grid__col--"] {
    @include mq(mobile) {
      margin-top: em(12px);
      margin-bottom: em(12px);
    }
    @include mq(desktop) {
    //   @include doubly(percentage($g-gutter-width / $context));    
    //   float: left;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    //   &:last-of-type {
    //     float: right;
    //   }
    }
  }

  .centered {
    @include mq(desktop) {
        margin-left: auto;
        margin-right: auto;
    }
  }