// ==========================================================================
// Images
// ==========================================================================

.img {
    @include m(logo){
        @extend %imgs;
        margin-top: em(30px);
    }
    @include m(avatar) {
        display: block;
        border-radius: $br--round;
        margin: em(24px) 0;
        margin-left: auto;
        margin-right: auto;
    }
    @include m(frame) {
        border: 1px solid mockup-palette(grey, x-light);
        padding: em(12px);
        margin: em(40px) 0 em(10px);
    }
}