/* --------------------------
  Base Styles
--------------------------- */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(19px);
	line-height: (27px/18px);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 85%;
	margin: auto;
	color: mockup-palette(grey, dark);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	font-weight: $font-weight--medium;
	line-height: ($base__line/$base__font-size);
	padding: em(40px) 0;
}

.card {
    margin-top: em(40px);
    margin-bottom: em(60px);
    text-align: left;
    padding: 0 em(8px);
}