/* --------------------------
  Base Styles
--------------------------- */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 90%;
	margin: auto;
	color: mockup-palette(grey, base);
	font-size: $base__font-size;
	font-family: $font-family--primary;
}


